.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-family:serif;
}

.header {
  padding-top: 1rem;
  padding-bottom: 3rem;
}